# Node
app/node_modules/
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/dist/
app/build/
app/.tmp/
app/package-lock.json


# Environment
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# MacOS
.DS_Store

# Logs
logs/
*.log